
nav {
    z-index: 5000;
    display: flow-root;
    /* background-color: #2d97f2; */
  }

  @-moz-document url-prefix() {
    nav {
      display: flow-root;
      
    }
  }
  
  .logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
  }
  
  .logo a {
    color: #4481eb;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
    text-decoration: none;
  }
  
  /* Hides the input checkbox field on desktop and mobile */
  .hidden {
    display: none;
  }
  
  nav ul {
    float: right;
    padding-top: 16px;
  }
  
  nav ul li {
    display: inline-block;
    float: left;
  }
  
  nav ul li:not(:first-child) {
    margin-left: 48px;
  }
  
  nav ul li:last-child {
    margin-right: 24px;
  }
  
  nav ul li a {
    /*This makes LI and the A tag the same dimensions*/
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 1s 0.8s all;
  }
  
  @media screen and (max-width: 864px) {
    .optional-menu {
    }
  
    .nav-wrapper {
      /* Creates the mobile navigation Overlay and covers viewport because it's set to fixed */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #fff;
      opacity: 0;
      transition: all 0.2s ease;
    }
  
    .nav-wrapper ul {
      /* Places the Navigation Links in the center of page vertically */
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  
    .nav-wrapper ul li {
      /* Removes nav items from being inline and stacks them */
      display: block;
      float: none;
      width: 100%;
      text-align: right;
      margin-bottom: 10px;
    }
  
    /* Creates the transition effect on mobile */
  
    .nav-wrapper ul li:nth-child(1) a {
      transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a {
      transition-delay: 0.3s;
    }
    .nav-wrapper ul li:nth-child(3) a {
      transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(4) a {
      transition-delay: 0.5s;
    }
    .nav-wrapper ul li:nth-child(5) a {
      transition-delay: 0.6s;
    }
  
    .nav-wrapper ul li:not(:first-child) {
      margin-left: 0;
    }
  
    .nav-wrapper ul li a {
      padding: 10px 24px;
      opacity: 0;
      color: #000;
      font-size: 14px;
      letter-spacing: 1.2px;
      transform: translateX(-20px);
      transition: all 0.2s ease;
    }
  
    .nav-btn {
      /* Creates the mobile hamburger button and positions on the right side */
      position: fixed;
      outline: 0;
      right: 10px;
      top: 6px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 10;
      border-radius: 50%;
    }
  
    .nav-btn i {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 14px;
    }
  
    .nav-btn i:nth-child(1) {
      margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
      margin-top: 4px;
      opacity: 1;
    }
    .nav-btn i:nth-child(3) {
      margin-top: 4px;
    }
  
    #nav:checked + .nav-btn {
      transform: rotate(45deg);
    }
  
    #nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
    }
  
    #nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
    }
  
    #nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
    }
  
    #nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
    }
  
    #nav:checked ~ .nav-wrapper {
      opacity: 1;
      z-index: 9;
    }
  
    #nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
    }
  
    #nav:checked + .nav-btn i {
      background-color: #000;
    }
  }