@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("card.css");
@import url("navbar.css");
@import url("access-page.css");
@import url("album.css");
@import url("file-selector.css");
@import url("reset.css");
  

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body,
input {
  font-family: "Poppins", sans-serif;
}

.white {
  background: #fff !important;
}

.black{
  background: #000 !important;
  color: #000;
}

.white-text {
  color: #fff;
}

.red{
  background-color: red;
}